body {
    text-align: center;
    background-color: #343a40;
    color: white;
    font-family: "Roboto", sans-serif;
}

#gen-cat {
    margin: 15px;
    border: none;
    background-color: #0c63e7;
    color: white;
    width: 90px;
    height: 26px;
    border-radius: 3px;
}

img {
    border-radius: 6px;
}